@model QuizesViewModel

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>>
        @foreach (var quiz in Model.Quizes)
        {
            <tr>
                <td>@quiz.QuizId</td>
                <td>
                    <a asp-controller="Quiz"
                        asp-route-id="@quiz.QuizId">@quiz.Name</a>
                </td>
                <td>@quiz.Description</td>
                <td>
                    <a asp-action="Update" asp-route-id="@quiz.QuizId">Update</a>
                    <a asp-action="Delete" asp-route-id="@quiz.QuizId">Delete</a>
                </td>
            </tr>
        }
    </table>
    <p>
        <a class="btn btn-secondary"
            asp-asp-controller="Quiz"
            asp-action="Create">Create New Quiz</a>
    </p>
</div>